.loading_1{
	width: 50px;
	height: 50px;
	border: 5px solid #F86060;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	animation: bounce 2s ease-in-out infinite;
}
.loading_2{
	width: 50px;
	height: 50px;
	border: 5px solid #F86060;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	animation: bounce 2s ease-in-out 1s infinite;
}
@keyframes bounce{
	/*0%{}*/
	50%{width: 25px;height: 25px;}
	100%{width: 50px;height: 50px;}
}
.loading_text{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}