.H5Component_dir canvas{
	width: 100%;
	height: 100%;
}
.dir_name{
	position: absolute;
	font: 15px "宋体";
	color: rgb(153, 192, 255);
	height: 20px;
	width: 100px;
}
.dir_name:nth-child(2){
	color: #FE3C3C;
}