.H5Component_point{
	
}
.H5ComponentPoint_father{
	z-index: 0;
	position: absolute;
	border-radius: 50%;
	width: 100%;
	height: 100%;
}
.H5ComponentPoint_father:first-child{
	z-index: 1;
}
.point_child{
	z-index: -1;
	border-radius: 50%;
	position: absolute;
	width: 50%;
	height: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	opacity: .75;
}
.point_child_active{
	-webkit-animation: breath 3s ease-out infinite none;
	-o-animation: breath 3s ease-out infinite none;
	animation: breath 3s ease-out infinite none;
}
.point_date{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	z-index: 1;
	text-align: center;
	font: 15px "Arial";
	color: #fff;
}

@keyframes breath{
	0%{width: 100%; height: 100%; opacity: 1;}
	50%{width: 100%; height: 100%; opacity: .55;}
	100%{width: 135%; height: 135%; opacity: 0;}
}