.H5Component_bar{
	display: none;
}
.H5Component_bar_child{
	position: relative;
	margin-bottom: 10px;
	height: 20px;
	background: #99c0ff;
	border-radius: 5px;
}
.H5Component_bar_childCover{
	position: absolute;
	right: 0;
	margin-bottom: 10px;
	height: 20px;
	width: 100%;
	background: #fff;
	animation: load 1s ease 1 both;
	display: block;
}
.H5Component_bar_childName{
	position: absolute;
	left: -80px;
	width: 80px;
	font: 15px "Arial";
}
.H5Component_bar_childPer{
	position: absolute;
	right: -40px;
	width: 30px;
	font: 15px "Arial";
	color: #99c0ff;
}

@keyframes load{
	100%{width: 0;}
}