.H5Component{
	position: absolute;
}
.H5Component_caption{
	position: relative;
}
.title{
	position: absolute;
	font: bold 18px "等线";
	color: #fff;
	width: 85%;
	left: 15%;
	text-align: center;
	height: 42px;
	line-height: 42px;
}
.H5Component_direc{
	position: absolute;
	font: 15px "等线";
	line-height: 25px;
	height: 25px;
	width: 75%;
}
.H5Component_footer{
	animation: breathe 3s ease-in-out infinite;
}
@keyframes breathe{
	0%{opacity: 1;}
	50%{opacity: 0;}
	100%{opacity: 1;}
}