.H5Component{
	position: absolute;
}
.title{
	font: bold 20px "等线";
	color: #fff;
	width: 100%;
	text-align: center;
	height: 50px;
	line-height: 50px;
}
.H5Component_direc{
	position: absolute;
	font: 15px "等线";
	line-height: 25px;
	height: 25px;
	width: 75%;
}